.product-li {
    color: white;
}

li {
    list-style: none;
}

.product-list {
    height: 70vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5%;
    border: 1px solid white;
    position: relative;
}

.list-container {
    text-align: center;
}

.product-h1 {
    font-family: 'Brush Script MT', cursive;
    padding: 0 30px;
    color: white;
    font-size: 5rem;
}

.product-h1-a {
    font-family: 'Brush Script MT', cursive;
    padding: 0 30px;
    color: white;
    font-size: 5rem;
    pointer-events: none;
}

@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 992px) {
    .product-h1 {
        font-size: 2.7rem;
    }

    .product-h1-a {
        font-size: 2.7rem;
    }
}

@media only screen and (min-width: 1200px) {
    
}

@media only screen and (min-width: 1200px) {
    
}

@media only screen and (max-width: 600px) {
    .product-h1 {
        
        font-size: 1rem;
    }

    .product-h1-a {
        
        font-size: 1rem;
    }

    .product-list {
        width: 100%;
        flex-wrap: wrap;
    }
}