.slideImg {
    height: 100%;
    width: 100%;
    /* border: 2px solid #2C1405; */
}

.slider {
    display: flex;
    justify-content: center;
    position: relative;

}

.prev, .next {
    position: absolute;
    cursor: pointer;
    font-size: 20px;
    padding: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    top: 40%;
    border-radius: 30%;

}

.prev {
    left: 0;
}

.next {
    right: 0;
}


.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color:#bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dotActive {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color:#717171;;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}


@media only screen and (max-width: 600px) {
    .slider {
        min-width: 480px;
    }
}




