.comment-container {
    width: 80vw;
    min-height: 80vh;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    background-image: url('../../image/chostuong-01.png');
}

.card {
    margin-top: 10px;

}

.text-area {
    margin-top: 10%;
    width: 500px;
    height: 100px;
}

.remove-icon {
    width: 20px;
    height: 15px;
}

.card-header {
    display: flex;
    justify-content: flex-end;
}
