.about-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 10vh;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}


.about1 {
    display: flex;
    flex-direction: column;
    background-image: url('../../image/background-01.png');
    height: auto;
    min-height: 100vh;
    justify-content: space-between;
    width: 100vw;
}

.about-p {
    font-size: 2rem;
}

.about-h1 {
    font-size: 5rem;
    width: 100%;
    background-color: #1d6b87;
    /* opacity: 40%; */
    color: #89d6f3;
    font-weight: 300;
}

.about-small {
    width: 60%;
}


/* h1 {
    color: #012B40;
    font-family: 'Brush Script MT', cursive;
    font-size: 7rem;
    border-bottom: 5px solid #012B40;
    text-align: center;
} */


.image2 {
    /* align-self: flex-end; */
    /* height: 300px; */
    width: 150px;
}



@media only screen and (min-width: 993px) {
     .about-h1 {
         font-size: 4rem;
     }

     .about-p {
         font-size: 1.5rem;
     }

     .image2 {
         width: 300px;
     }
}

@media only screen and (max-width: 992px) {
    .about-h1 {
        font-size: 3rem;
    }

    .about-p {
        font-size: 1rem;
    }

    .image2 {
        width: 300px;
    }
}

/* @media only screen and (min-width: 601px) {
    .about-h1 {
        font-size: 1.5rem;
    }

    .about-p {
        font-size: 1rem;
    }
} */

@media only screen and (max-width: 600px) {
    .about-h1 {
        font-size: 1.5rem;
    }

    .about-p {
        font-size: 0.9rem;
    }

    .image2 {
        height: 150px;
    }
}
