.home-container {
    background-image: url('../../image/background-01.png');
    height: auto;
    min-height: 100vh;
    width: 100vw;
    z-index: -10;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-content: center;
}

img {

    height: auto;
    object-fit: contain;
}

.home-upper {
    float: left;
    position: relative;
    display: flex;
    width: 50%;
    align-items: center;
    margin-right: 2%;
    margin-top: 10vh;
}

.home-lower {
    float: left;
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 15vh;
    margin-right: 2%;
}

@media only screen and (min-width: 992px) {
    .VH {
        height: 1000px;
    }
}


@media only screen and (min-width: 768px) {
    .VH {
        height: 800px;
    }
}

@media only screen and (min-width: 601px) {
    .VH {
        min-height: 600px;
    }
}

@media only screen and (max-width: 600px) {
    .VH {
        min-height: 600px;
    }

    .home-container {
        flex-direction: column;
    }
}

/* @media only screen and (min-width: 601px) {
    .VH {
        height: 600px;
    }
} */

/* @media only screen and (min-width: 992px) {
    .VH {
        height: 1000px;
        width: 800px;
    }
} */


