.home-container {
    background-image: url('../../image/background-01.png');
    height: auto;
    min-height: 100vh;
    width: 100vw;
    z-index: -10;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-content: center;
}

img {

    height: auto;
    object-fit: contain;
}

.home-upper {
    float: left;
    position: relative;
    display: flex;
    width: 50%;
    border-bottom: 1px solid black;
    margin-top: 10vh;

}

.home-lower {
    float: left;
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 15vh;
    margin-right: 2%;
}


