.page-container {
    background-image: url('../../image/background-01.png');
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: -10;
    position: absolute;
    align-items: center;
    top: 0;
    left: 0;
}

.home-container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

img {

    height: auto;
    object-fit: contain;
}

.VH {
    width: 490px;
}

.home-upper {
    /* float: left; */
    position: relative;
    display: flex;
    width: 50%;
    align-items: center;
    margin-top: 10vh;
}

.home-lower {
    /* float: left; */
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 5%;
    margin-right: 30px;
}

@media only screen and (min-width: 992px) {
    .VH {
        
        width: 200px;
    }

    .home-container {
        flex-direction: row;
    }

}

@media only screen and (min-width: 993px) {
    .home-upper {
        margin-top: 5vh;
    }

    .home-lower {
        margin-top: 5vh;
    }
}

@media only screen and (max-width: 992px) {

}

@media only screen and (min-width: 601px) {
    .VH {
        min-height: 600px;
        min-width: 600px;
    }
}


/* @media only screen and (min-width: 601px) {
    .VH {
        height: 600px;
    }
} */

/* @media only screen and (min-width: 992px) {
    .VH {
        height: 1000px;
        width: 800px;
    }
} */


