.contact-container {
    height: 100%;
    display: flex;
}

.contact-1 {
    background-image: url('../../image/background-01.png');
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column
}

.contact1 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.contact-h1 {
    font-size: 7rem;
}

ul {
    list-style: none;
}

li {
    padding: 10px;
    font-size: 2rem;
}

.contact-list {
    width: 60%;
}

.contact2 {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.contact2-img {
    padding: 10%;
}


.contact3 {
    width: 10%;  
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 992px) {
    li {
        font-size: 1rem;
    }

    .contact-h1 {
        font-size: 5rem;
    }
}