.product-container {
    display: flex;

    position: relative;
    margin-top: 5%;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.product-h2 {
    width: 100%;
}

.p-container {
    margin-top: 5%;
    
    flex-flow: row wrap;
    display: flex;
    justify-content: center;
}

.p1-container {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.p2-container {
    height: 1000px;
    width: 1000px;
}

.product-img {
    height: 300px;
    width: 200px;
}

@media only screen and (max-width: 600px) {
    .p2-container {
        height: 500px;
        width: 450px;
        object-fit: scale-down;
    }
}

