.product-container {
    display: flex;

    position: relative;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.product-h2 {
    width: 100%;
}

.p-container {
    margin-top: 5%;
    flex-flow: row wrap;
    display: flex;
    justify-content: center;
}

.p1-container {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

h5, h4, img {
    margin: 0;
}

.p2-container {
    height: 1000px;
    width: 1000px;
}

.product-img {
    height: 300px;
    width: 200px;
}

.productImg {
    width: 200px;
    position: relative;
    padding: 10px;
}

.p1 {
    position: relative;
    display: flex;
}

.p2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    .p2-container {
        height: 500px;
        width: 450px;
        object-fit: scale-down;
    }
}

