.navitem-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.nav {
    width: 100%;
}

a {
    list-style: none;
}

.a1 {
    font-size: 30px;
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-family: cursive;
}

.logout {
    width: 30px;
    height: 30px;
    color: white;
}

.a1:hover {
    background-color: #FFB932;
    border-radius: 25px;
}

@media only screen and (max-width: 600px) {
    .a1 {
        font-size: 15px;
    }
}

@media only screen and (min-width: 601px) {
    .a1 {
        font-size: 20px;
    }
}



